form
{
    width:25%;

    margin-left: 35%;
    margin-top: 5%;

}

legend
{
    text-align: center;
}
input
{
    width:80%;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 2%;

}
fieldset
{
    border-radius: 5px 5px 5px 5px;
    background-color: aquamarine;
}
input[type=submit]
{
    width:40%;
    margin-left: 25%;
    margin-bottom: 2%;
    background-color: green;
    color: white;
}